.features-ul {
    display: flex;
    margin-right: auto;
    margin-left: auto;

    & .item::before{
        content: '';

        width: 270px;
        height: 120px;

        display: block;
        background-color: $button-bgc;
        margin-bottom: 30px;
    }
}

.icon::before {
    background-repeat: no-repeat;
    background-position: center;
}

.plate::before {
    background-image: url('../images/plate.svg');
}

.clock::before {
    background-image: url('../images/clock.svg');
}

.computer::before {
    background-image: url('../images/computer.svg');
}

.space::before {
    background-image: url('../images/space.svg');
}

.features-ul .item {
    width: 270px;

    &:not(:nth-child(4n)){
        margin-right: 30px;
    }
}

.features-h {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.features-p {
    font-size: 14px;
    line-height: calc(21 / 14);
    color: $p-color;
}